@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background: #ffffff;
  color: #111827;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #6C4CF6;
  border-radius: 999px;
}

::-webkit-scrollbar-track {
  background: #f3f4f6;
}